$font-family: "IBM Plex Mono", monospace;

.logo-wrapper {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.logo-app-name {
  font-family: $font-family;
  font-size: 36px;
  color: #fff;
  font-weight: 600;
}

.logo-link {
  text-decoration: none;
}
